{% extends "base.html" %}
{% block body %}
    <main>
        <section class="faq">
            <div class="faq_center">
                <h1>Как это работает?</h1>
                <p>Нет технических навыков? Нет проблем! Создать свое портфолио несложно и занимает всего несколько минут.</p>
            </div>
            <ul>
                <li>
                    <h3>Добавьте биографию</h3>
                    <p>Расскажите людям, кто вы такой, чем занимаетесь и как поддерживать с вами контакт.</p>
                </li>
                <li>
                    <h3>Добавьте свои данные</h3>
                    <p>Добавляйте почты и номера телефона чтобы быстро и легко можно было с вами связаться.</p>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}