{% extends "base.html" %}
{% block body %}
    <main>
        <section class="features-html">
            <h2>Ключевые функции</h2>
            <ul>
                <li>
                    <h3>Интуитивно понятный интерфейс</h3>
                    <p>Создавайте и настраивайте свое портфолио с легкостью.</p>
                </li>
                <li>
                    <h3>Привлекательный дизайн</h3>
                    <p>Произведите впечатление на потенциальных клиентов потрясающим портфолио.</p>
                </li>
                <li>
                    <h3>Привлекательные цены</h3>
                    <p>У нас все абсолютно бесплатно для каждого.</p>
                </li>
            </ul>
            </section>
    </main>
{% endblock %}